@{
    if (ViewBag.Color == null || !ViewBag.Color.StartsWith("#"))
    {
        ViewBag.Color = "#b74506";
    }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/content/Images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mas des Genettes</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/laFeniere")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="container">
        <div class="row">
            <a class="logo col-xs-12" href="/">
            </a>
            <div class="col-xs-12">
                <p>Gîte de caractère en Ardèche</p>
            </div>
        </div>
    </header>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="accueil"><a href="/"><span class="fa fa-home"></span> Accueil</a></li>
                    <li class="decouvrir"><a href="/Home/Description"><span class="fa fa-camera"></span> Le Gîte</a></li>
                    <li class="activites"><a href="/Home/Activites"><span class="fa fa-child"></span> Activités</a></li>
                    <li class="reservation"><a href="/Reservation"><span class="fa fa-calendar"></span> Réservations</a></li>
                    <li class="souvenirs"><a href="/Home/Souvenirs"><span class="fa fa-commenting"></span> Souvenirs</a></li>
                    <li class="contact"><a href="/Home/Contact"><span class="fa fa-map"></span> Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-bottom" style="background-color:@ViewBag.Color">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.UtcNow.Year - Mas des Genettes &bull; <a href="https://www.facebook.com/Au-Mas-des-Genettes-1743735295894205" alt="Facebook" title="Facebook"><i class="fa fa-fabk-square"></i>acebook</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
