<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - La Fenière</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/laFeniere")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand"><i class="fa fa-home"></i> La Fenière</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Description"><span class="fa fa-camera"></span> Photos et description</a></li>
                    <li><a href="/Home/Activites"><span class="fa fa-child"></span> Activités aux alentours</a></li>
                    <li><a href="/Reservation"><span class="fa fa-calendar"></span> Tarifs et réservation</a></li>
                    <li><a href="/Home/Contact"><span class="fa fa-map"></span> Contact et accès</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">&nbsp;</div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - La Fenière &bull; <span class="social-icon"><i class="fa fa-facebook"></i>acebook</span></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
