@model Gite.WebSite.Models.ReservationOverview
@{
    ViewBag.Title = "Details de la réservation";
    ViewBag.Color = "#0391ce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details de la réservation</h2>

@if (!Model.Cancelled && DateTime.Now >= Model.EndsOn)
{
    <p>Votre location est à présent terminée ! Nous espérons que vous avez passé un bon séjour.</p>
}
else if(!Model.Cancelled) {
    <p class="well">
        Réservation du @Model.StartsOn.ToString("dd/MM/yyyy") au @Model.EndsOn.ToString("dd/MM/yyyy").
    </p>

    if (!Model.PaymentReceived)
    {
        <p>Le paiement de la réservation n'a toujours pas été reçu.</p>
        <div class="row">
            @if (Model.AdvancePaymentReceived)
            {
                <ul class="list-group col-md-4">
                    <li class="list-group-item active">Votre accompte a bien été reçu:</li>
                    <li class="list-group-item"><strong>Montant: @Model.AdvanceValue€</strong></li>
                </ul>
            }
            else
            {
                <ul class="list-group col-md-4">
                    <li class="list-group-item active">Accompte à payer avant le @Model.BookedOn.AddDays(5).ToString("dd/MM/yyyy"):</li>
                    <li class="list-group-item"><strong>Montant: @Model.AdvanceValue€</strong></li>
                </ul>
            }
            @if (Model.PaymentReceived)
            {
                <ul class="list-group col-md-4">
                    <li class="list-group-item active">Votre paiement a bien été reçu:</li>
                    <li class="list-group-item"><strong>Montant total: @(Model.FinalPrice - Model.AdvanceValue)€</strong></li>
                </ul>
            }
            else
            {
                <ul class="list-group col-md-4">
                    <li class="list-group-item active">Paiement a effectuer avant le @Model.StartsOn.AddDays(-10).ToString("dd/MM/yyyy"):</li>
                    <li class="list-group-item"><strong>Montant total: @(Model.FinalPrice - Model.AdvanceValue)€</strong></li>
                </ul>
            }
            <ul class="list-group col-md-4">
                <li class="list-group-item active">Coordonnées bancaires:</li>
                <li class="list-group-item">N&deg; de compte: xxxxx-xxx-xxxx-xxxxx</li>
                <li class="list-group-item">BIC: xxxxxxx</li>
                <li class="list-group-item">IBAN: xxxx-xxxxxxx-xxx</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    @if (Model.PaymentDeclared)
                    {
                        <button class="btn btn-primary" disabled="disabled">J'ai déjà payé</button>
                    }
                    else
                    {
                        @Html.ActionLink("J'ai payé !", "PaymentDeclared", "overview", new { id = Model.Id }, new { @class = "btn btn-primary" });
                    }
                    @Html.ActionLink("Annuler ma réservation", "CancelReservation", "overview", new { id = Model.Id }, new { @class = "btn btn-danger" });
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Votre paiement a bien été reçu et validé.</p>
        <p>Nous vous remercions et vous souhaitons un agréable séjour au gite du Mas des Genettes !</p>
    }
}
else{
    <p>Votre réservation a été annulée...</p>
    <p>La raison de l'annulation est: @Model.CancelReason</p>
    <p>Retourner à la @Html.ActionLink("page des réservations", "Index", "Reservation")</p>
}