@model Gite.WebSite.Models.ReservationOverview
@{
    ViewBag.Title = "Details de la réservation";
    ViewBag.Color = "#0391ce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details de la réservation</h2>

@if (!Model.Cancelled && DateTime.Now >= Model.EndsOn)
{
    <p>Votre location est à présent terminée ! Nous espérons que vous avez passé un bon séjour.</p>
}
else if(!Model.Cancelled) {
    <p class="well">
        Votre réservation a bien été complétée.<br />
        Réservation du @Model.StartsOn.ToString("dd/MM/yyyy") au @Model.EndsOn.ToString("dd/MM/yyyy").
    </p>
    <div class="row">
        @if (Model.AdvancePaymentReceived)
        {
            <ul class="list-group col-md-4">
                <li class="list-group-item active">Votre acompte a bien été reçu:</li>
                <li class="list-group-item"><strong>Payé: @Model.AdvanceValue€</strong></li>
            </ul>
        }
        else
        {
            <ul class="list-group col-md-4">
                <li class="list-group-item active">Acompte à payer avant le @Model.BookedOn.AddDays(5).ToString("dd/MM/yyyy"):</li>
                <li class="list-group-item"><strong>Montant minimum: @Model.AdvanceValue€</strong></li>
            </ul>
        }
        @if (Model.PaymentReceived)
        {
            <ul class="list-group col-md-4">
                <li class="list-group-item active">Votre paiement a bien été reçu:</li>
                <li class="list-group-item"><strong>Montant reçu: @(Model.FinalPrice - Model.AdvanceValue)€</strong></li>
            </ul>
        }
        else
        {
            <ul class="list-group col-md-4">
                <li class="list-group-item active">Paiement a effectuer avant le @Model.StartsOn.AddDays(-10).ToString("dd/MM/yyyy"):</li>
                <li class="list-group-item"><strong>Montant total: @(Model.FinalPrice - Model.AdvanceValue)€</strong></li>
                <li class="list-group-item">Détails: @Model.FinalPrice€ (prix total) - @Model.AdvanceValue€ (acompte)</li>
            </ul>
        }
        <ul class="list-group col-md-4">
            <li class="list-group-item active">Coordonnées bancaires:</li>
            <li class="list-group-item">N&deg; de compte: xxxxx-xxx-xxxx-xxxxx</li>
            <li class="list-group-item">BIC: xxxxxxx</li>
            <li class="list-group-item">IBAN: xxxx-xxxxxxx-xxx</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-right">
                @if (Model.AdvancePaymentDeclared || Model.AdvancePaymentReceived)
                {
                    if (Model.AdvancePaymentReceived)
                    {
                        <button class="btn btn-success">L'acompte a bien été reçu</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" disabled="disabled">Acompte en attente de validation</button>
                    }
                }
                else
                {
                    @Html.ActionLink("Déclarer l'acompte payé", "AdvanceDeclared", "overview", new { id = Model.Id }, new { @class = "btn btn-primary" });
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                @if (!Model.AdvancePaymentReceived)
                {
                    <button class="btn btn-primary" disabled="disabled">Déclarer la location payée</button>
                }
                else if (Model.PaymentDeclared || Model.PaymentReceived)
                {
                    if (Model.PaymentReceived)
                    {
                        <button class="btn btn-success">Le paiement a bien été reçu</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" disabled="disabled">Paiement en attente de validation</button>
                    }
                }
                else
                {
                    @Html.ActionLink("Déclarer la location payée", "PaymentDeclared", "overview", new { id = Model.Id }, new { @class = "btn btn-primary" });
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                @Html.ActionLink("Annuler ma réservation", "CancelReservation", "overview", new { id = Model.Id }, new { @class = "btn btn-danger" });
            </div>
        </div>
    </div>
}
else{
    <p>Votre réservation a été annulée...</p>
    <p>La raison de l'annulation est: @Model.CancelReason</p>
    <p>Retourner à la @Html.ActionLink("page des réservations", "Index", "Reservation")</p>
}