@model Gite.WebSite.Models.ReservationModel

@{
    ViewBag.Title = "Réserver le gîte";
    ViewBag.Color = "#0391ce";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isLastMinute = (Model.StartsOn.Date - DateTime.UtcNow.Date).TotalDays <= 7;
}

<h2>Réserver du @Model.StartsOn.ToString("dd/MM/yyyy") au @Model.EndsOn.ToString("dd/MM/yyyy")</h2>

<div class="well row">
    <h4>Le montant de la location est de <strong>@Model.FinalPrice €</strong>.</h4>
    <div class="col-md-6">
        @if (Model.Reduction > 0)
        {
        <p>
            Détails:
            <ul>
                <li>Prix de la location: @Model.OriginalPrice€</li>
                <li>Réduction nombre de semaines: @Model.Reduction%</li>
            </ul>
        </p>
        }
        @if (isLastMinute)
        {
            <p>Vous effectuez une réservation de dernière minute. Dans ces circonstances, nous devons recevoir le montant total de la location ainsi que le contrat au plus tard 48h avant votre arrivée</p>
        }
        else {
            <p>Un acompte de @((Model.FinalPrice * 0.25).ToString("N2")) € sera à payer dans les 5 jours afin de valider la réservation.</p>
        }
    </div>
    <div class="col-md-6">
        <p>Vous serez prévenus par e-mail lorsque votre réservation aura été validée.</p>
        <p><strong>Les paiements se font uniquement par virement bancaire.</strong></p>
    </div>
</div>
@if (Model.StartsOn >= DateTime.UtcNow.AddYears(2))
{
    <div class="alert alert-warning">
        <p>Vous vous apprêtez à réserver pour une date lointaine (plus de 2 ans). Êtes-vous sûr d'avoir choisi la bonne date ?</p>
    </div>
}
@using (Html.BeginForm("CheckIn", "Reservation", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.StartsOn, new { id = Model.StartsOn })
    @Html.HiddenFor(x => x.EndsOn, new { id = Model.EndsOn })
    @Html.HiddenFor(x => x.OriginalPrice, new { id = Model.OriginalPrice })
    @Html.HiddenFor(x => x.Reduction, new { id = Model.Reduction })
    @Html.HiddenFor(x => x.LastWeek, new { id = Model.LastWeek })
    @Html.HiddenFor(x => x.FinalPrice, new { id = ViewBag.FinalPrice })
    @Html.HiddenFor(x => x.Caution, new { id = ViewBag.Caution })
    <div class="row">
        <div class="col-md-6">
            <h4>Vos coordonnées:</h4>
            <div class="form-group">
                <label for="name">Votre nom et prénom:</label>
                @Html.TextBoxFor(x => x.Name, new {id = "name", @class = "form-control", placeholder = "name"})
            </div>
            <div class="form-group">
                <label for="email">Votre adresse e-mail:</label>
                @Html.TextBoxFor(x => x.Email, new {id = "email", @class = "form-control", placeholder = "e-mail"})
            </div>
            <div class="form-group">
                <label for="phone">Votre numéro de téléphone:</label>
                @Html.TextBoxFor(x => x.Phone, new {id = "phone", @class = "form-control", placeholder = "Téléphone"})
            </div>
        </div>
        <div class="col-md-6">
            <h4>Votre adresse:</h4>
            <div class="form-group">
                <label for="address">Rue:</label>
                @Html.TextBoxFor(x => x.Street, new {id = "address", @class = "form-control", placeholder = "Rue"})
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="zipcode">Code postal:</label>
                        @Html.TextBoxFor(x => x.ZipCode, new { id = "zipcode", @class = "form-control", placeholder = "Code Postal" })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="city">Ville:</label>
                        @Html.TextBoxFor(x => x.City, new { id = "city", @class = "form-control", placeholder = "Ville" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="country">Pays:</label>
                @Html.TextBoxFor(x => x.Country, new { id = "country", @class = "form-control", placeholder = "Pays" })
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Détail des personnes:</h4>
        <p>Une taxe de séjour de 0,80€/personne/jour est d'application pour chaque adulte (plus de 12 ans).<br />
        Le gîte est prévu pour un nombre maximum de 6 personnes<a href="#babies-details">*</a>.</p>
        <div class="col-md-4">
            <label for="adultsNumber">Adultes (plus de 12 ans):</label>
            @Html.TextBoxFor(x => x.Adults, new { id = "adultsNumber", @class = "form-control", value = 1, min = 1, @type = "number" })
        </div>
        <div class="col-md-4">
            <label for="childrenNumber">Enfants de 2 à 12 ans:</label>
            @Html.TextBoxFor(x => x.Children, new { id = "childrenNumber", @class = "form-control", value = 0, min = 0, @type = "number" })
        </div>
        <div class="col-md-4">
            <label for="babiesNumber">Enfants de moins de 2 ans:</label>
            @Html.TextBoxFor(x => x.Babies, new { id = "babiesNumber", @class = "form-control", value = 0, min = 0, @type = "number" })
            <p id="babies-details">* Possibilité d'accueillir 2 enfants de moins de 2 ans supplémentaires (en plus des 6 personnes) : 30 euros de supplément par semaine et par enfant seront alors demandés</p>
        </div>
    </div>
    <div class="row margin-bottom-10">
        <h4>Détail des animaux:</h4>
        <div class="col-md-4">
            <label for="animalsNumber">Nombre d'animaux:</label>
            @Html.TextBoxFor(x => x.AnimalsNumber, new { id = "animalsNumber", @class = "form-control", value = 0, min = 0, @type = "number" })
        </div>
        <div class="col-md-4">
            <label for="animalsType">Description des animaux:</label>
            @Html.TextBoxFor(x => x.AnimalsType, new { id = "animalsType", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <div class="pull-right">
                <input type="submit" class="btn btn-primary" value="Valider ma réservation" />
                <input type="reset" class="btn btn-danger" value="Annuler" />
            </div>
        </div>
    </div>
}
