@model Gite.WebSite.Models.ReservationModel
@{
    ViewBag.Title = "Réservation validée";
    ViewBag.Color = "#0391ce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
<script>
    var map;
    var direction;

    function initMap() {
        var gitePosition = { lat: 44.690441, lng: 4.281118 };
        var destination = "@Model.Street @Model.ZipCode @Model.City @Model.Country";

        var mapDiv = document.getElementById('map');

        map = new google.maps.Map(mapDiv, {
            center: gitePosition,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoom: 16
        });

        direction = new google.maps.DirectionsRenderer({
            map: map,
            panel: document.getElementById("directions")
        });

        var request = {
            origin: destination,
            destination: gitePosition,
            travelMode: google.maps.DirectionsTravelMode.DRIVING,
            provideRouteAlternatives: true
        }

        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                direction.setDirections(response);
            }
        });
    }
</script>

<div class="row">
    <h2>Réservation effectuée.</h2>

    <p class="well">Votre réservation a été validée avec succès. Nous pouvons être amenés à vous contacter pour plus d'informations ou pour vous prévenir d'éventuels détails.</p>
</div>
<div class="row">
    <h2>Prochaines étapes</h2>
    <div class="col-md-4 col-sm-6">
        <h3>Effectuer le virement</h3>
        <p>
            Plus vite la location est payée, mieux c'est !
        </p>
        <p>@Html.ActionLink("Payer", "Details", "Overview", new { id = Model.ReservationId }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <h3>Rappel de réservation</h3>
        <p>Vous recevrez un mail 2 semaines avant votre séjour pour vous rappeler de vos dates ainsi que des modalités d'arrivée.</p>
        <p><a class="btn btn-default" href="#">Voir les modalités &raquo;</a></p>
    </div>
    <div class="col-md-4 col-sm-6">
        <h3>Profiter !</h3>
        <p>Découvrez notre page récapitulant les principales activités près du gîte</p>
        <p><a class="btn btn-default" href="/Home/Activites">Voir &raquo;</a></p>
    </div>
</div>
<div class="row">
    <h2 id="plan">Planifiez votre itinéraire:</h2>
    <div id="map" style="width:100%;height:400px;"></div>
    <div id="directions"></div>
</div>
