@model Gite.WebSite.Models.Admin.ReservationModel

@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";

    var previousLink = string.IsNullOrEmpty(ViewBag.Previous) ? "/reservations/all" : ViewBag.Previous;
}

<div id="detailReservation" data-role="page" data-dom-cache="false">
    <div data-role="header" data-position="fixed">
        <a href="@previousLink" data-role="button" data-mini="true" data-transition="slide" data-direction="reverse">Retour</a>
        <a onClick="window.location.reload();" id="refresh" class="ui-btn ui-btn-right ui-corner-all ui-icon-refresh ui-btn-icon-notext">MàJ</a>
        <h1>Détails</h1>
    </div>
    <div data-role="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#detail" data-ajax="false" class="ui-btn-active ul-link">Détails</a></li>
                <li><a href="#contact" data-ajax="false">Contact</a></li>
                <li><a href="#actions" data-ajax="false">Actions</a></li>
                <li><a href="/reservations/history/@Model.Id" data-ajax="true">Historique</a></li>
            </ul>
        </div>
        <div id="detail" class="ui-body-d ui-content">
            <h3>Du @Model.FirstWeek.ToString("dd/MM/yyyy") au @Model.LastWeek.AddDays(7).ToString("dd/MM/yyyy")</h3>
            <p style="margin-left:15px">
                Durée : @((Model.LastWeek.AddDays(7) - Model.FirstWeek).Days/7) semaine(s)<br />
                Réservé le : @Model.BookedOn.ToString("dd/MM/yyyy HH:mm")
            </p>
            @if (Model.LastMinute)
            {
                <h3>Réservation de dernière minute !</h3>
            }
            <p style="margin-left:15px">
                <strong>Prix total : @Model.FinalPrice €</strong><br />
                @if (Model.Reduction > 0) {
                    <span>
                        Prix original : @Model.OriginalPrice €<br />
                        Réduction: @Model.Reduction %
                    </span>
                }
            </p>
        </div>
        <div id="contact" class="ui-body-d ui-content">
            <h3>@Model.Name</h3>
            <p style="margin-left:15px">Adresse : @Model.Address<br />
            Mail : @Model.Mail<br />
            Tél : @Model.Phone</p>
            <p style="margin-left:15px">@(Model.Adults + @Model.Children + Model.Babies) personne(s), dont @Model.Children enfant(s) de moins de 12 ans et @Model.Babies bébé(s).</p>
            @if (Model.Animals > 0)
            {
                <p style="margin-left:15px">Animaux: @Model.Animals (@Model.AnimalsType)</p>
            }
        </div>
        <div id="actions" class="ui-body-d ui-content">
            @if (!Model.AdvancedReceived && !Model.LastMinute)
            {
                <h3>Réception de l'acompte</h3>
                <form id="receiveAdvancePayment" action="/reservations/advancereceived/@Model.Id" method="post">
                    <div data-role="fieldcontain">
                        <label for="name">Montant:</label>
                        <input type="text" name="acompte" id="acompte" value="@((Model.FinalPrice*0.25).ToString("N"))" />
                    </div>	
                    <a href="#confirmAdvancePayment" role="button" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Déclarer l'acompte reçu</a>
                </form>
                <h3>Prolonger le temps d'attente</h3>
                <form id="extendAdvanceDelay" action="/reservations/extendexpiration/@Model.Id" method="post">
                    <a href="#confirmAdvanceExtension" role="button" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Prolonger de 2 jours</a>
                </form>
            }
            else if (!Model.PaymentReceived)
            {
                <h2>Réception du paiement</h2>
                <form id="receivePayment" action="/reservations/paymentreceived/@Model.Id" method="post">
                    <div data-role="fieldcontain">
                        <label for="name">Montant:</label>
                        <input type="text" name="paiement" id="paiement" value="@((Model.FinalPrice - Model.AdvancedValue.Value).ToString("N"))" />
                    </div>
                    <a href="#confirmPayment" role="button" class="ui-shadow ui-btn ui-corner-all" data-transition="flip">Déclarer le paiement reçu</a>
                </form>
            }
            else
            {
                <h2>Aucune action disponible.</h2>
            }
        </div>
    </div>
</div>
<div id="confirmPayment" data-role="page" data-dialog="true">
    <div data-role="header" data-theme="b">
        <h1>Confirmer la réception du paiement</h1>
    </div>

    <div role="main" class="ui-content">
        <h1>Confirmation</h1>
        <p>Veuillez confirmer la réception du paiement</p>
        <a href="#" onclick="$('#receivePayment').submit();" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Confirmer</a>
        <a href="#detailReservation" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Annuler</a>
    </div>
</div>
<div id="confirmAdvancePayment" data-role="page" data-dialog="true">

    <div data-role="header" data-theme="b">
        <h1>Confirmer la réception de l'acompte</h1>
    </div>

    <div role="main" class="ui-content">
        <h1>Confirmation</h1>
        <p>Veuillez confirmer la réception de l'acompte</p>
        <a href="#" onclick="$('#receiveAdvancePayment').submit();" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Confirmer</a>
        <a href="#detailReservation" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Annuler</a>
    </div>
</div>
<div id="confirmCancelReservation" data-role="page" data-dialog="true">

    <div data-role="header" data-theme="b">
        <h1>Confirmer l'annulation</h1>
    </div>

    <div role="main" class="ui-content">
        <h1>Confirmation</h1>
        <p>Veuillez confirmer l'annulation de la réservation</p>
        <a href="#" onclick="$('#cancelReservation').submit();" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Confirmer</a>
        <a href="#detailReservation" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Annuler</a>
    </div>
</div>
<div id="confirmAdvanceExtension" data-role="page" data-dialog="true">

    <div data-role="header" data-theme="b">
        <h1>Confirmer l'extension du paiement de l'acompte</h1>
    </div>

    <div role="main" class="ui-content">
        <h1>Confirmation</h1>
        <p>Veuillez confirmer l'extension du paiement de l'acompte</p>
        <a href="#" onclick="$('#extendAdvanceDelay').submit();" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Confirmer</a>
        <a href="#detailReservation" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Annuler</a>
    </div>
</div>